body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #0d39b3cc;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .dados-climaticos {
    margin-top: 20px;
  }
  
  .localizacao {
    margin-bottom: 20px;
  }
  
  .clima-atual {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .clima-atual p {
    margin: 10px 0;
  }